<div class="container">

  <h2>Add New Employee</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name*</label>
      <input type="text" id="firstName" formControlName="firstName" class="form-control" />
      @if (employeeForm.get('firstName')?.invalid && employeeForm.get('firstName')?.touched) {
        <div class="error">Enter First Name</div>
      }
    </div>

    <div class="form-group">
      <label for="lastName">Last Name *</label>
      <input type="text" id="lastName" formControlName="lastName" class="form-control" />
      @if (employeeForm.get('lastName')?.invalid && employeeForm.get('lastName')?.touched) {
        <div class="error">Enter Last Name</div>
      }
    </div>

    <div class="form-group">
      <label for="division">Division *</label>
      <input type="text" id="division" formControlName="division" class="form-control" />
      @if (employeeForm.get('division')?.invalid && employeeForm.get('division')?.touched) {
        <div class="error">Enter Division</div>
      }
    </div>

    <div class="form-group">
      <label for="building">Building *</label>
      <input type="text" id="building" formControlName="building" class="form-control" />
      @if (employeeForm.get('building')?.invalid && employeeForm.get('building')?.touched) {
        <div class="error">Enter Building</div>
      }
    </div>

    <div class="form-group">
      <label for="title">Title *</label>
      <input type="text" id="title" formControlName="title" class="form-control" />
      @if (employeeForm.get('title')?.invalid && employeeForm.get('title')?.touched) {
        <div class="error">Enter Title</div>
      }
    </div>

    <div class="form-group">
      <label for="room">Room *</label>
      <input type="text" id="room" formControlName="room" class="form-control" />
      @if (employeeForm.get('room')?.invalid && employeeForm.get('room')?.touched) {
        <div class="error">Enter Room</div>
      }
    </div>

    <div class="buttons">
      <button type="submit" class="btn btn-success" [disabled]="employeeForm.invalid">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>

  </form>

</div>
